
{% extends 'base.html.twig' %}
{% block body %}
        <div>
        <p> Bienvenue sur Iot Start, l'application qui va vous permettre de faciliter l'organisation de votre entreprise et la communnication avec les professionnels qui interviennent dans vos travaux du quotidien</p>
        <a href="/login">
            <button type="submit" class="btnConnexion">Connection</button> 
        </a>
        <a href="/register">
            <button type="submit" class="btnConnexion">Inscription</button> 
        </a>
        </div>
{% endblock %}
