/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici tout les éléments de base 
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

body {
    margin: auto;
    background-color: #2D3657;
    color:white;
}

.footer {
    display: flex;
    padding: 2em;
    padding-left: 0%;
    padding-right: 0%;
    background-color: white;
    justify-content: space-around;
    margin-bottom: 1em;
    bottom:0;
    margin: auto;
    /* padding-top:50px; */
    /* height:50px; */
}
h1 {
    background-color: white;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    font-size: 2em;
    color: #27617E;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    padding-bottom: 1em;
    margin-right: 2em;
}

.button {
    background-color: #5CB8FB;
    font-size: large;
    color: white;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #5CB8FB;
    font-size: large;
    color: white;
    padding: 0.8em;
    border-radius: 10px;
    border: none;
}

.formConn {
    margin: 2em;
    font-size: large;
/*     border: 1px solid black; */
}

.formControl {
    border-radius: 3px;
    height: 2.5em;
    width: 50%;
}

.accueil{
    margin-right: 45%;
    margin-left: 2em;
}

#wrap {
    width: 100%;
    height: 4em;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #5CB8FB;
  }
  .navbar {
    height: 4em;
    text-align: center;
    
  }
  .navbar li {
    height: 3.5em;
    width: 15em;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: #5CB8FB;
  }
  .navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: white;
    display: block;
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
    background-color: #5CB8FB;
    border: 1px solid #2D3657;
  }

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'accueil
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
.firstGlobal {
    display: flex;
    margin-bottom: 5em;
    margin-top: 3em;
}

.firstDiv {
    padding: 1em;
    padding-top: 3em;
    padding-left: 9em;
    max-width: 50%;
    font-size: 1.7em;
    flex-grow: 1;
}

.btnFirst {
    flex-grow: 2;
    padding: 3em;
    margin: auto;
    max-width: 35%;
}

.btnConnexion {
    background-color: #5CB8FB;
    margin: auto;
    margin-right: 15%;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de connection
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.formConnect {
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'inscription / ajout d'intervention
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
.register {
    font-size: 3em;
    color: white;
    text-align: center;
}

.registrationForm {
    padding: 2em;
}

.btn {
    color: white;
}

/* interventionadd */

 .interventionForm {
    padding: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
 }

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de choix de role
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.firstGlobal2 {
    display: flex;
    padding-bottom: 10em;
    padding-top: 5em;
}

.btnFirstChoice {
    flex-grow: 2;
    padding: 3em;
    margin: auto;
    max-width: 25%;
}

.choiceDiv {
    padding: 1em;
    padding-top: 1em;
    padding-left: 9em;
    max-width: 50%;
    font-size: 1.7em;
    flex-grow: 1;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'ajout d'opperateur'
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.addOpe {
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 15em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de liste des interventions
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.pInter {
    font-size: 2em;
    padding: 1.5em;
}

.inter-name {
    font-size: large;
}

.inter {
    padding: 1em;
    margin: 1em;
    max-width: 45%;
    border: 1px solid #5CB8FB;
}

.globalInter {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9em;
}

.editInter {
    padding-right: 2em;
}

.inter-name-link {
    text-decoration: none;
    color: white;
    font-size: large;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'affectation des interventions
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.pAffectOpe {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.formAffect {
    min-width: 45%;
    border: 1px solid #5CB8FB;   
    margin: 1em;
    padding: 1em;
}

.interAffect {
    padding: 1em;
    margin: 1em;
    min-width: 45%;
    border: 1px solid #5CB8FB;   
}

.globalAffect {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de redaction des rapports
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.rapportForm {
    margin-bottom: 10em;
    margin-top: 10em;
        }


/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'ajout securite
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.securiteForm {
    margin-bottom: 6em;
    margin-top: 6em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de connexion
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.loginForm {
    padding-bottom: 5em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page d'agenda pour operateur
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.showHome {
    margin-top: 4em;
    margin-bottom: 5em;
}


.rapportForm {
    padding-right: 10em;
    padding-left: 10em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la liste d'intervention coté admin
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.inter-ot-cloture {
    color: #0DFC1A;
    text-align: center;
}

.inter-ot-non-cloture {
    color: #FF0000;
    text-align: center;
}

.inter-rapport-non {
    color: #FF0000;
}

.inter-rapport-oui {
    color: #0DFC1A;
}

.search {
    margin-left: 3em;
}

.search-input {
    border-radius: 10px;
    background-color: #5CB8FB;
    border-color: #5CB8FB;
    box-shadow: none;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la liste des demandes clients
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.hrefInterAddBySec {
    padding-right: 2em;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page détaillé d'une intervention
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/

.inter-info {
    padding: 2em;
    text-align: center;
    font-size: large;
}

.inter-name-info {
    font-size: larger;
    color: white;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
    Ici ça concerne la page de résultat de recherche par nom de client 
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
.formSearch {
    display: flex;
    margin: 3em;
}

.form-input {
    border-radius: 5px;
    padding-right: 4em;
}



.listener {
    background-color: #5CB8FB;
}

.new {
    background-color: #FF0000;
}