<div class = "nav">
      <ul class="navbar">

        <li class="button">
          <a href="/">Accueil</a>
        </li>

        <li class="button">
          <a href="" type="button">Agenda</a>
        </li>

        <li class="button">
          <a href="#">Interventions</a>
          <ul>          
            <li><a href="/inter/intervention/list">Interventions</a></li>
            <li><a href="/inter/intervention/add">Nouvelle intervention</a></li>
            <li><a href="/inter/rapport/list">Rapports</a></li>
          </ul>
        </li>
        
        <li class="button">
          <a href="#">Visites techniques</a>
          <ul>
            <li><a href="/vt/list">Vt</a></li>
            <li><a href="/vt/add">Nouvelle Vt</a></li>
          </ul>
        </li>

        <li class="button">
          <a href="#" class="listener">Clients</a>
          <ul>
            <li><a href="/inter/securite/list">Demandes</a></li>
            <li><a href="/list/clients">Les clients</a></li>
          </ul>
        </li>

          <button id="notification">
            <a href="/inter/list/securite/non" class="material-symbols-outlined">notifications</a>
          </button>

        <a class="button" href="/start/logout">
          <button name="button" type="button" class="material-symbols-outlined"> 
            <span class="material-symbols-outlined">
            power_settings_new
            </span>
         </button>
        </a>
        
      </ul>
</div>