<div class = "nav">
    
      <a href="/">
        <button name="button" type="button" class="accueil">Accueil</button>
      </a>
      <a href="">
        <button name="button" type="button">Agenda</button> 
      </a>
      <a href="/ope/add/rapport">
        <button name="button" type="button">Rapports</button>
      </a>
      <a href="">
        <button name="button" type="button">Tâches effectuées</button>
      </a>
      <a href="/inter/intervention/list">
        <button name="button" type="button">Interventions</button>
      </a>
      <a href="/inter/intervention/add">
        <button name="button" type="button">Nouvelle intervention</button>
      </a>
      <a href="/start/logout">
        <button name="button" type="button" class="material-symbols-outlined"> 
          <span class="material-symbols-outlined">
          power_settings_new
          </span>
       </button>
      </a>
      <a href="/start/choice">
        <button name="button" type="button">N'oublie pas de choisir ta situation</button>
      </a>
      <a href="/client/securite/add">
        <button name="button" type="button">Demande d'intervention</button>
      </a>
</div>