  <div class = "nav">
    <ul class="navbar"> 
      <li class="button-client ombre">
         <a href="/"> Accueil </a>
      </li>
      <li class="button-client ombre">
         <a href="/client/securite/add"> Demande d'intervention </a>
      </li>
      <li class="button-client ombre">
         <a href="/my/securite/list"> Mes demandes </a>
      </li>
      <li class="button-client ombre">
         <a href="/start/logout">
           <button name="button" type="button" class="btn-logout material-symbols-outlined ombre"> 
             <span class="material-symbols-outlined">
             power_settings_new
             </span>
           </button>
         </a>
        </li>
    </ul>
  </div>