    <div class = "nav">
    
      <a href="/">
        <button name="button" type="button" class="accueil">Accueil</button>
      </a>
      <a href="/start/logout">
        <button name="button" type="button" class="material-symbols-outlined"> 
          <span class="material-symbols-outlined">
          power_settings_new
          </span>
       </button>
      </a>
      <a href="/client/securite/add">
        <button name="button" type="button">Demande d'intervention</button>
      </a>
    </div>